<h4><%= t('.filters')%></h4>
<%= simple_form_for filter, as: :filter, url: chaltron_users_path, method: 'get' do |f| %>
  <%= hidden_field_tag 'sort_direction', sort_direction %>
  <%= hidden_field_tag 'sort_column', sort_column %>
  <%= hidden_field_tag 'per_page', per_page %>
  <%= f.hidden_field(:search) %>
  <% labels = providers.to_a.map do |x|
       "#{t("chaltron.users.provider.#{x.first}")} (#{number_with_delimiter(x.last, delimiter: '.')})"
     end %>
  <%= f.input :providers, collection: labels.zip(providers.keys).to_a,
                            as: :check_boxes, wrapper: :vertical_collection_inline, include_hidden: false %>
  <%= f.input :never_logged_in, wrapper: :custom_boolean_switch, as: :boolean %>
  <%= f.submit t('.submit_filters'), class: 'btn btn-primary w-100' %>
<% end %>

<hr>
<%# Reset filters %>
<%= link_to t('.reset_filters'),
            chaltron_users_path(request.params.deep_merge(
              filter: { providers: [], never_logged_in: false }, page: nil)
            ),
            class: 'btn btn-primary w-100 mb-3' %>
