<h4><%= t('.filters') %></h4>
<%= simple_form_for filter, as: :filter, url: chaltron_users_path, method: 'get' do |f| %>
  <%= hidden_field_tag :page, 1 %>
  <% labels = providers.to_a.map do |x|
       "#{t("chaltron.users.provider.#{x.first}")} (#{number_with_delimiter(x.last, delimiter: '.')})"
     end %>
  <%= f.input :providers, collection: labels.zip(providers.keys).to_a,
                          as: :check_boxes, wrapper: :vertical_collection_inline %>
  <%= f.input :never_logged_in, wrapper: :custom_boolean_switch, as: :boolean %>
  <%= f.submit t('.submit_filters'), class: 'btn btn-primary w-100' %>
<% end %>

<hr>
<%# Reset filters %>
<%= link_to t('.reset_filters'),
            { controller: 'chaltron/users', action: 'index',
              filter: { providers: [''], never_logged_in: false }, page: 1 },
            class: 'btn btn-primary w-100 mb-3' %>
