<h4><%= t(".filters") %></h4>
<%= simple_form_for @filter, as: :filter, url: chaltron_users_path, method: :get,
      data: {controller: "chaltron--filter"} do |f| %>
  <%= hidden_field_tag :page, 1 %>
  <% %i[per_page sort_column sort_direction].each do |field| %>
    <%= hidden_field_tag field, send(field) %>
  <% end %>
   <%= f.input :providers, as: :check_boxes, wrapper: :vertical_collection_inline,
         collection: @providers %>
  <%= f.input :never_logged_in, wrapper: :custom_boolean_switch, as: :boolean,
        label: @never_logged_in %>
 <% end %>
<hr>
<%# Reset filters %>
<%= link_to t(".reset_filters"),
      {controller: "chaltron/users", action: "index",
       params: {filter: "", page: 1, per_page:, sort_column:, sort_direction:}},
      class: "btn btn-primary w-100 mb-3", data: {turbo_prefetch: false} %>
