<%= simple_form_for @user, wrapper: :horizontal_form do |f| %>

  <% if context == :create %>
    <%= f.input :username %>
    <%= f.input :fullname %>
    <%= f.input :email, required: true %>
    <%= f.input :password, required: true %>
    <%= f.input :password_confirmation, required: true %>
    <%= f.input :role_ids, as: :check_boxes, wrapper: :horizontal_collection_inline,
                           collection: Chaltron::Role.all.map { |r| [I18n.t("chaltron/roles.#{r.name}"), r.id] } %>
  <% elsif context == :update %>
    <% if current_user == @user %>
      <%= f.role_select disabled: 'user_admin' %>
    <% else %>
      <%= f.role_select %>
    <% end %>
  <% end %>

  <div class='row mb-3'>
    <div class='col-sm-9 offset-sm-3'>
      <%= f.submit submit_text, class: 'btn btn-primary' %>
      <%= back_link class: 'btn btn-light', text: t('.cancel_text'), icon: 'times' %>
    </div>
  </div>

<% end %>
