<div id='users'>
  <ul class='list-group'>
    <li class='list-group-item bg-light'>
      <%= form_tag chaltron_users_path, method: 'get', class: 'float-end', remote: true do %>
        <%= hidden_field_tag :direction, params[:direction] %>
        <%= hidden_field_tag :sort, params[:sort] %>
        <div class='input-group'>
          <%= text_field_tag :search, params[:search],
                              class: 'form-control', placeholder: t('.search'), size: 50 %>
          <button class='btn btn-primary' type='submit'>Cerca</button>
        </div>
      <% end %>
    </li>

  <% for user in users %>
    <%= render partial: 'user', locals: { user: user } %>
  <% end %>

  </ul>
<hr>
  <%== pagy_info(pagy) %>
  <div class='float-end'>
    <%== pagy_bootstrap_nav(pagy, link_extra: "data-remote='true'") %>
  </div>
</div>