<div class='container-fluid'>
  <h3><%= @user.display_name %></h3>
  <div class='row'>

    <div class='col-md-9'>
      <div class='card'>
        <div class='card-header'><%= t '.headers.details' %></div>
        <ul class='list-group list-group-flush'>
          <li class='list-group-item'>
            <span><%= Chaltron::User.human_attribute_name(:username) %>: </span>
            <strong><%= display_username(@user, link: false) %></strong>
          </li>
          <li class='list-group-item'>
            <span><%= Chaltron::User.human_attribute_name(:fullname) %>: </span>
            <strong><%= @user.fullname %></strong>
          </li>
          <li class='list-group-item'>
            <span><%= Chaltron::User.human_attribute_name(:email) %>: </span>
            <strong><%= @user.email %></strong>
          </li>
          <% unless @user.department.nil? %>
            <li class='list-group-item'>
              <span><%= Chaltron::User.human_attribute_name(:department) %>: </span>
              <strong><%= @user.department %> </strong>
            </li>
          <% end %>
          <li class='list-group-item'>
            <span><%= Chaltron::User.human_attribute_name(:roles) %>: </span>
            <%= safe_join(@user.roles.map { |x| tag.span(t("chaltron/roles.#{x.name}"), class: 'badge bg-primary') }, ' ') %>
          </li>
        </ul>
      </div>
    </div>

    <div class='col-md-3'>
      <div class='card'>
        <div class='card-header'><%= t '.headers.activity' %></div>
        <ul class='list-group list-group-flush'>
          <li class='list-group-item'>
            <span><%= Chaltron::User.human_attribute_name(:sign_in_count) %>: </span>
            <strong><%= @user.sign_in_count %></strong>
          </li>
          <% unless @user.last_sign_in_at.nil? %>
            <li class='list-group-item'>
              <span><%= Chaltron::User.human_attribute_name(:last_sign_in_at) %>: </span>
              <strong><%= l @user.last_sign_in_at, format: :short %> </strong>
            </li>
          <% end %>
          <% unless @user.last_sign_in_ip.nil? %>
            <li class='list-group-item'>
              <span><%= Chaltron::User.human_attribute_name(:last_sign_in_ip) %>: </span>
              <strong><%= @user.last_sign_in_ip %> </strong>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

  </div>

  <hr>
  <%= link_to chaltron_users_path, class: 'btn btn-primary' do %>
    <%= icon :fas, 'arrow-left', t('chaltron.common.back') %>
  <% end %>

  <div class='float-end'>
    <% danger = %w[btn btn-danger]
       danger << 'disabled' if @user == current_user %>
    <% if can? :edit, @user %>
      <%= link_to edit_chaltron_user_path(@user), class: 'btn btn-primary' do %>
        <%= icon :fas, :edit, t('.edit') %>
      <% end %>
      <% if @user.enabled? %>
          <%= link_to disable_chaltron_user_path(@user), class: danger do %>
          <%= icon :fas, 'user-slash', t('.disable') %>
        <% end %>
      <% else %>
        <%= link_to enable_chaltron_user_path(@user), class: 'btn btn-primary' do %>
          <%= icon :fas, :user, t('.enable') %>
        <% end %>
      <% end %>
    <% end %>
    <%= link_to @user, class: danger, method: :delete,
                data: {
                  'turbo-method': :delete,
                  controller: 'confirmation',
                  'confirmation-message-value': t('.destroy_confirm', user: @user.username),
                  action: 'confirmation#confirm'
                } do %>
      <%= icon :fas, :trash, t('.destroy') %>
    <% end if can? :destroy, @user %>
  </div>
</div>
