<div class='container-fluid'>
  <h3><%= t('.title') %></h3>

  <%= form_tag chaltron_ldap_multi_new_path do |f| %>

    <div class='mb-3'>
      <%= label_tag :userid, t('.name_label'), class: 'col-sm-2 col-form-label' %>
      <%= tag.input id: :userid, type: :text, name: :userid, class: 'form-control' %>
      <%= content_tag :div, t('.name_help'), class: 'form-text' %>
    </div>

    <div class='mb-3'>
      <%= label_tag :lastname, t('.lastname_label'), class: 'col-sm-2 col-form-label' %>
      <%= tag.input id: :lastname, type: :text, name: :lastname, class: 'form-control' %>
      <%= content_tag :div, t('.lastname_help'), class: 'form-text' %>
    </div>

    <div class='mb-3'>
      <%= label_tag :department, t('.department_label'), class: 'col-sm-2 col-form-label' %>
      <%= tag.input id: :department, type: :text, name: :department, class: 'form-control' %>
      <%= content_tag :div, t('.department_help'), class: 'form-text' %>
    </div>

    <div class='mb-3'>
      <%= label_tag :limit, t('.limit_label'), class: 'col-sm-2 col-form-label' %>
      <%= tag.input id: :limit, type: :text, name: :limit, class: 'form-control' %>
      <%= content_tag :div, t('.limit_help'), class: 'form-text' %>
    </div>

    <%= submit_tag t('.submit_text'), class: 'btn btn-primary' %>
    <%= link_to chaltron_users_path, class: 'btn btn-ligth' do %>
      <%= icon :fas, :times, t('chaltron.common.cancel') %>
    <% end %>
  <% end %>

</div>
