<%# locals: (placeholder:, url:, reset_label: t("shared.chaltron.search.reset"), submit_label: t("shared.chaltron.search.submit")) -%>

<%= form_with url: url, method: "get" do |f| %>
  <div class="input-group">
    <% %i[per_page sort_column sort_direction].each do |field| %>
      <%= hidden_field_tag field, send(field) %>
    <% end %>
    <%= text_field_tag :search, search,
          class: "form-control", placeholder: placeholder, size: 50 %>
    <span class="input-group-text">
      <%= link_to icon(:fas, "trash-alt"),
            {search: "", page: 1, per_page:, sort_column:, sort_direction:},
            title: reset_label,
            data: {
              controller: "chaltron--tooltip",
              bs_toggle: "tooltip",
              bs_trigger: "hover"
            } %>
    </span>
    <%= f.submit submit_label, class: "btn btn-primary" %>
  </div>
<% end %>
