<% reset_label ||= t('.reset')
   submit_label ||= t('.submit')
   hidden_field_args ||= [] %>
<%= form_tag url, method: 'get' do %>
  <% hidden_field_args.each do |args| %>
    <%= hidden_field_tag(*args) %>
  <% end %>
  <div class='input-group mb-3'>
    <%= text_field_tag 'filter[search]', filter.search,
                       class: 'form-control', placeholder: placeholder, size: 50 %>
    <span class='input-group-text'>
      <%= link_to icon(:fas, 'trash-alt'),
                  url.merge(filter: filter.attributes.merge('search' => '') , page: nil),
                  title: reset_label,
                  data: {
                    controller: 'chaltron--tooltip',
                    bs_toggle: 'tooltip',
                    bs_trigger: 'hover'
                  } %>
    </span>
    <button class='btn btn-primary' type='submit'><%= submit_label %></button>
  </div>
<% end %>
