<%= form_with url: omni_ldap_omniauth_callback_path do %>
  <div class="form-floating">
    <%= text_field_tag :username, nil,
          {class: "form-control", placeholder: "LDAP username"} %>
    <%= label_tag "username", "LDAP username" %>
  </div>
  <div class="form-floating mb-3">
    <%= password_field_tag :password, nil,
          {class: "form-control bottom", placeholder: "Password"} %>
    <%= label_tag "password", "Password" %>
  </div>
  <% if devise_mapping.rememberable? %>
    <div class="checkbox mb-3">
      <input name="remember_me" value="0" type="hidden">
      <input class="form-check-input" type="checkbox" name="remember_me" id="remember_me" value="1">
      <label class="form-check-label" for="gridCheck1">
        <%= t(".remember_me") %>
      </label>
    </div>
  <% end %>
  <%= submit_tag t(".submit_text"), class: "btn btn-primary w-100" %>
<% end %>
