<div class='container w-50'>
  <h2><%= t '.title' %></h2>
  <div class='card'>
    <div class='card-body'>
      <%= simple_form_for resource, as: resource_name, url: password_path(resource_name) do |f| %>
        <p><%= t '.par1' %></p>
        <%= f.input :email, autofocus: true %>
        <div class='row mb-3'>
          <div class='col-sm-9 offset-sm-3'>
            <%= f.submit t('.submit_text'), class: 'btn btn-primary' %>
          </div>
        </div>
        <hr>
        <p><%= t '.par2_html' %></p>
      <% end %>
    </div>
  </div>
</div>
