<%= tag.li id: dom_id(login), class: "list-group-item d-flex gap-3 py-3" do %>
  <div class="d-flex gap-2 w-100 justify-content-between">
    <div class="">
      <p><%= login.ip_address %></p>
      <p class="mb-0"><%= device_details(login) %></p>
    </div>
    <div class="d-flex flex-column">
      <%= tag.p t(".created_ago", time: time_ago_in_words(login.created_at)),
            class: "opacity-50 text-nowrap float-end", title: l(login.created_at),
            data: {
              controller: "chaltron--tooltip",
              bs_toggle: "tooltip", bs_placement: "left"
            } %>
      <div class="">
      <% if current_login?(login) %>
        <h5><%= tag.span t(".current"), class: "badge bg-success float-end" %></h5>
      <% else %>
        <%= button_to login, class: "btn btn-danger btn-sm float-end", method: :delete,
              form: {data: {turbo_confirm: t(".confirm_delete")}} do %>
          <%= icon :fas, :trash %>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
<% end %>
