<div id='logs'>
  <div class='row'>
    <div class='col-md-3'>
      <%# Severity filters %>
      <div class='card mb-3'>
        <div class='card-header'>
          <%= t('.severity_filter') %>
        </div>
        <div class='list-group list-group-flush'>
          <% @logs_group_severity.each do |k, v| %>
            <%= display_side_filter_link(request.params.merge(severity: k, page: nil), filter_severity == k,
                                        t("chaltron.logs.severity.#{k}"), v) %>
          <% end %>
        </div>
      </div>
      <%# Category filters %>
      <div class='card mb-3'>
        <div class='card-header'>
          <%= t('.category_filter') %>
        </div>
        <div class='list-group list-group-flush'>
          <% @logs_group_category.each do |k, v| %>
            <%= display_side_filter_link(request.params.merge(category: k, page: nil), filter_category == k,
                                        t("chaltron.logs.category.#{k}"), v) %>
          <% end %>
        </div>
      </div>
      <%# Reset filters %>
      <%= link_to t('.reset_filters'), request.params.merge(category: nil, severity: nil),
                  class: 'btn btn-primary w-100 mb-3' %>
    </div>
    <div class='col-md-9'>

      <div class='d-flex'>
        <%# Search form %>
        <div class='flex-grow-1'>
          <%= form_tag chaltron_logs_path, method: 'get' do %>
            <%= hidden_field_tag :direction, params[:direction] %>
            <%= hidden_field_tag :sort, params[:sort] %>
            <div class='input-group mb-3'>
              <%= text_field_tag :search, params[:search],
                                  class: 'form-control', placeholder: t('.search'), size: 50 %>
              <button class='btn btn-primary' type='submit'>Cerca</button>
            </div>
          <% end %>
        </div>
        <%# Logs per page %>
        <div class='ms-3'>
          <div id='sort-per-page' class='dropdown text-nowrap mb-3 float-end'>
            <%= link_to t('.sort_per_page', count: sort_per_page), '#',
                        data: { 'bs-toggle': 'dropdown' }, aria: { expanded: false },
                        class: 'btn btn-primary dropdown-toggle' %>
            <ul class='dropdown-menu' aria-labelledby='per-page'>
              <% [10, 20, 50, 100].each do |count| %>
                <li>
                <%= link_to t('.sort_per_page', count: count),
                            request.params.merge(per_page: count, page: nil),
                            class: class_names('dropdown-item', { active: sort_per_page == count }) %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>

      <%= tag.table(class: 'table table-striped') do %>
        <thead class='text-nowrap'>
          <tr>
            <th>
              <h5>
                <%= sortable :severity, label: Chaltron::Log.human_attribute_name(:severity) %>
              </h5>
            </th>
            <th>
              <h5>
                <%= sortable :created_at, label: Chaltron::Log.human_attribute_name(:created_at) %>
              </h5>
            </th>
            <th>
              <h5>
                <%= sortable :message, label: Chaltron::Log.human_attribute_name(:message) %>
              </h5>
            </th>
            <th>
              <h5>
                <%= sortable :category, label: Chaltron::Log.human_attribute_name(:category) %>
              </h5>
            </th>
          </tr>
        </thead>
        <tbody>
        <% for log in logs %>
          <tr>
            <td>
              <%= tag.span(I18n.t("chaltron.logs.severity.#{log.severity}"),
                          class: "badge bg-#{bootstrap_severity(log.severity)}") %>
            </td>
            <td><%= I18n.l(log.created_at, format: :short) %></td>
            <td><%= link_to(log.message, log, data: { 'turbo-frame' => '_top' }) %></td>
            <td><%= I18n.t("chaltron.logs.category.#{log.category}") %></td>
          </tr>
        <% end %>
        </tbody>

      <% end %>
      <%== pagy_info(pagy) %>
      <div class='float-end'>
        <%== pagy_bootstrap_nav(pagy) %>
      </div>
    </div>
  </div>

</div>